.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 50dvh;
  min-height: 500px;
  position: relative; /* Nécessaire pour positionner le scroll down */
}

.hero {
  max-width: 200px;
  border-radius: 50%;
}

span {
  display: flex;
  gap: 25px;
  justify-content: center;
}

span a img {
  width: 30px;
}

a {
  width: fit-content;
  align-self: center;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

/* Mode sombre/clair */
.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  top: 10px; /* Correction pour tablette/desktop */
  right: 10px;
  width: 25px;
  cursor: pointer;
}

/* Description */
.description {
  max-width: 24ch;
  margin: 0 auto;
  line-height: 1.5;
}

/* Informations */
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* SCROLL DOWN MOUSE */
.scrollDown {
  position: absolute;
  bottom: -90px; /* Position en bas de la section Hero */
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  border: 2px solid var(--text-color); /* Style de la souris */
  border-radius: 20px; /* Forme arrondie pour ressembler à une souris */
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollDown span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color); /* Couleur du point */
  border-radius: 30%; /* Forme ronde */
  animation: scroll 1.5s infinite ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateY(0); /* Point en haut */
  }
  50% {
    transform: translateY(15px); /* Point qui descend */
  }
  100% {
    transform: translateY(0); /* Retour du point */
  }
}

/* Version Desktop et Tablette */
@media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero {
    max-width: 350px;
    width: 350px;
  }

  .info {
    align-items: flex-start;
    text-align: left;
  }

  .description {
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .hero {
    max-width: 400px;
    width: 400px;
  }
}

/* Version Mobile */
@media (max-width: 600px) {
  .container {
    min-height: 80vh; /* Réduit encore plus pour les petits écrans */
    gap: 10px; /* Diminue l'espacement entre les éléments */
    margin-bottom: 10dvh;
  }

  .hero {
    max-width: 150px; /* Réduit légèrement la taille du logo sur mobile */
    margin-top: 15px; /* Ajoute un espacement pour éviter le chevauchement */
  }
  
  .colorMode {
    top: 5px; /* Ajustement pour mobile */
    right: 105px;
  }

  .description {
    font-size: 14px;
    max-width: 22ch;
  }

  button {
    font-size: 18px;
    width: 120px;
    height: 45px;
  }

  .scrollDown {
    width: 25px;
    height: 40px;
    bottom: 10px; /* Ajustement pour mobile */
  }

  .scrollDown span {
    width: 4px;
    height: 4px;
  }
}
