.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 20px;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Catégorie de compétences */
.skillsCategory {
  margin-bottom: 50px; /* Espace entre chaque catégorie */
}

.categoryTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 50px; /* Espace entre le titre et les icônes */
}

/* Grille des compétences */
.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  justify-items: center; /* Centre horizontalement chaque icône */
  align-items: center; /* Centre verticalement chaque icône */
}

/* Carte de compétence */
.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.skillCard:hover {
  transform: scale(1.1); /* Effet de zoom au survol */
}

.skillIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px; /* Espace entre l'icône et le titre */
  filter: var(--icon-filter);
  transition: filter 0.3s ease;
}

[data-theme="dark"] .skillIcon {
  filter: invert(1);
}

[data-theme="light"] .skillIcon {
  filter: invert(0);
}

.skillTitle {
  font-size: 1rem;
  font-weight: 500;
}

/* Barre de séparation */
hr {
  width: 80%;
  height: 2px;
  border: none;
  background-color: var(--text-color);
  margin: 40px auto;
  transition: background-color 0.3s ease;
}

[data-theme="dark"] hr {
  background-color: #fff;
}

@media (max-width: 600px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 colonnes */
    gap: 20px; /* Ajuste l'espace entre les éléments */
    justify-content: center; /* Centre la grille entière si elle est plus petite que l'écran */
    justify-items: center; /* Centre chaque icône horizontalement dans sa cellule */
    align-items: center; /* Centre chaque icône verticalement dans sa cellule */
  }

  .skillCard {
    text-align: center; /* Centre le texte sous les icônes */
  }

  .skillIcon {
    width: 40px; /* Réduit la taille des icônes sur mobile */
    height: 40px;
    margin-bottom: 5px; /* Réduit l'espacement entre icône et titre */
  }

  .skillTitle {
    font-size: 0.9rem; /* Réduit légèrement la taille du texte */
  }

  .categoryTitle {
    margin-bottom: 40px; /* Réduction de l'espace entre le titre et les icônes */
  }

  hr {
    width: 90%; /* Barre plus large sur mobile */
  }

  .skillsCategory {
    margin-bottom: 30px; /* Réduction de l’espace entre catégories */
  }
}